
{{> head}}

{{> navbar}}

<div class="row">
    <div class="col-8">
        <h1>Una Imagen de croquis</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic temporibus accusantium, beatae quibusdam amet numquam doloribus vero reiciendis recusandae eveniet totam corrupti voluptates quasi veritatis. Natus quod numquam provident saepe?</p>
    </div>
    <div class="col-4">
        <img src="/assets/img/Galaxy.jpg" class="img-thumbnail">

    </div>
</div>

{{> footer}}